/* Created by: Sirine Cherkaoui
   Created on: April 2023
   This CSS file defines the style for index.html
   Assign-05-HTML-EvenNumberCalculator
*/

/* Center the content */
.mdl-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fafbe9;
}

/* Change the title color and center it */
.mdl-layout-title {
  margin: 0 auto;
  color: hsl(27, 100%, 100%); 
  font-weight: 600;
}

/* Change the text input color to purple */
.mdl-textfield__input {
  color: hsl(334, 100%, 50%);
}

/* Add a double border to the text with the "double" class*/
h5 {
  border: 2px double;
  padding: 10px;
  color: hsl(334, 100%, 50%);
}

/* Custom styles for MDL card */
.my-card .mdl-card__title-text {
  color: hsl(290, 100%, 53%);
  font-weight: 600;
}
